* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  background-color: burlywood;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clock-face {
  height: 40%;
  aspect-ratio: 1/1;
  border: 0.5rem solid white;
  border-radius: 50%;
  position: relative;
}

.clock-hand {
  background-color: black;
  height: 0.25rem;
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform-origin: 100% 50%;
  border-radius: 50%;
}
.hour {
  width: 30%;
}
.min {
  width: 45%;
}
.sec {
  width: 49%;
}
